node_modules/
dist/
examples/dist
.parcel-cache

exports/**/*.d.ts
internal/**/*.d.ts
!exports/**/*-types.d.ts
!exports/**/*-globals.d.ts
!internal/**/*-types.d.ts
!internal/**/*-globals.d.ts

custom-elements.json
